<div id="header" xmlns:jsp="http://java.sun.com/JSP/Page"
	xmlns:spring="http://www.springframework.org/tags"
	xmlns:sec="http://www.springframework.org/security/tags" version="2.0">
	<jsp:directive.page contentType="text/html;charset=UTF-8" />
	<jsp:output omit-xml-declaration="yes" />

	<spring:message code="header_text" var="headerText" />
	<spring:message code="label_logout" var="labelLogout" />
	<spring:message code="label_welcome" var="labelWelcome" />
	<spring:url var="logoutUrl" value="/j_spring_security_logout" />
	
	<h3>我的账户</h3>
	
</div>
