<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<div xmlns:jsp="http://java.sun.com/JSP/Page"
	xmlns:c="http://java.sun.com/jsp/jstl/core"
	xmlns:spring="http://www.springframework.org/tags" version="2.0"
	xmlns:form="http://www.springframework.org/tags/form">
	<jsp:directive.page contentType="text/html;charset=UTF-8" />
	<jsp:output doctype-root-element="html"
		doctype-public="-//W3C//DTD XHTML 1.0 Transitional//EN"
		doctype-system="http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd"
		omit-xml-declaration="true" />

	<spring:message code="label_user_name" var="labelUserName" />
	<spring:message code="label_user_email" var="lableUserEmail" />
	<spring:message code="label_user_mobile" var="lableUserMobile" />

	<spring:message code="label_update" var="lableUpdate" />
	<spring:url value="/account/user_info{idUser}" var="userInfoUrl" />

	<c:if test="${not empty message}">
		<div id="message" class="${message.type}">${message.message}</div>
	</c:if>
	
	<h2>已审核旅行社</h2>
	
	<div class="row">
		<div class="col-md-3">
			<span>旅行社名称：</span>
			<input id="tsName" type="text"></input>
		</div>
		<div class="col-md-3">
			<span>联系人：</span>
			<input id="linkMan" type="text"></input>
		</div>
		<div class="col-md-3">
			<span>联系人手机：</span>
			<input id="mobilePhone" type="text"></input>
		</div>
		<div class="col-md-3">
			<div class="input-group-btn center-align">
				<button id="searchTs" type="button" class="btn btn-default">查询</button>
			</div>
		</div>
	</div>
	
	<div id="travServiceDiv">
		<table id="travServiceTable">
			<tr>
				<th>旅行社名称</th>
				<th>所属分社</th>
				<th>所属部门</th>
				<th>联系人</th>
				<th>联系人身份证</th>
				<th>联系人手机</th>
				<th>电子邮箱</th>
				<th>操作</th>
			</tr>
			<c:forEach items="${travservices}" var="travservice">
				<tr id="${travservice.travelAgencyId}">
					<td>${travservice.name}</td>
					<td>${travservice.subTs}</td>
					<td>${travservice.departTs}</td>
					<td>${travservice.contactor}</td>
					<td>${travservice.contactorId}</td>
					<td>${travservice.contactorMp}</td>
					<td>${travservice.email}</td>
					<td>
						<a href="javascript:viewTs(${travservice.travelAgencyId});">查看详情</a>
						<span>|</span>
						<a href="javascript:removeTs(${travservice.travelAgencyId});">删除</a>
					</td>
				</tr>
			</c:forEach>
		</table>	
	</div>
</div>