<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<div xmlns:jsp="http://java.sun.com/JSP/Page"
	xmlns:c="http://java.sun.com/jsp/jstl/core"
	xmlns:spring="http://www.springframework.org/tags" version="2.0"
	xmlns:form="http://www.springframework.org/tags/form">
	<jsp:directive.page contentType="text/html;charset=UTF-8" />
	<jsp:output doctype-root-element="html"
		doctype-public="-//W3C//DTD XHTML 1.0 Transitional//EN"
		doctype-system="http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd"
		omit-xml-declaration="true" />

	<spring:message code="label_user_name" var="labelUserName" />
	<spring:message code="label_user_email" var="lableUserEmail" />
	<spring:message code="label_user_mobile" var="lableUserMobile" />

	<spring:message code="label_update" var="lableUpdate" />
	<spring:url value="/account/user_info{idUser}" var="userInfoUrl" />

	<c:if test="${not empty message}">
		<div id="message" class="${message.type}">${message.message}</div>
	</c:if>
	
	<h2>电商平台票务资源控制</h2>
	
	<div class="modal fade" id="ticketResTopLimit"  role="dialog" aria-hidden="true">
		<div class="modal-dialog">
		<div class="modal-content">
		<div class="modal-header">
			<button type="button" class="close" data-dismiss="modal" aria-hidden="true">x</button>
			<h3>请输入票额上限</h3>
			</div>
			<div class="modal-body">
				<p>新票额上限：</p>
				<input type="text" id="topLimit"></input>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-default" data-dismiss="modal">放弃</button>
				<button type="button" class="btn btn-danger btn-primary" id="confirmTicketTopLimit">确认</button>
			</div>
		</div>
		</div>
	</div>
	
	<div id="ticketResDiv">
		<table id="ticketResTable">
			<tr>
				<th>票名</th>
				<th>价格</th>
				<th>电商平台上限额度</th>
				<th>电商平台剩余额度</th>
				<th>操作</th>
			</tr>
			<c:forEach items="${ticketPrices}" var="ticketPrice">
				<tr id="${ticketPrice.ticketPriceId}">
					<td>${ticketPrice.ticketType.ticketName}</td>
					<td>${ticketPrice.unitPrice}</td>
					<td>${ticketPrice.toplimit}</td>
					<td>${ticketPrice.remainToplimit}</td>
					<td>
						<a href="javascript:modifyTicketTopLimit(${ticketPrice.ticketPriceId});">修改额度</a>
					</td>
				</tr>
			</c:forEach>
		</table>	
	</div>
</div>