<?xml version="1.0" encoding="GB18030" ?>
<div xmlns:jsp="http://java.sun.com/JSP/Page"
	xmlns:c="http://java.sun.com/jsp/jstl/core"
	xmlns:spring="http://www.springframework.org/tags"
	xmlns:form="http://www.springframework.org/tags/form" version="2.0">
	<jsp:directive.page contentType="text/html;charset=UTF-8" />
	<jsp:output omit-xml-declaration="yes" />	
		
	<spring:message code="label_user_company_new" var="labelCompanyNew"/>
	<spring:message code="label_user_company_update" var="labelCompanyUpdate"/>
	
	<spring:message code="label_user_name" var="labelUserName"/>
	<spring:message code="label_user_mobile" var="labelUserMobile"/>
	<spring:message code="label_user_verify" var="labelUserVerify"/>
	<spring:message code="label_user_email" var="labelUserEmail"/>
	<spring:message code="label_user_pwd" var="labelUserPwd"/>
	<spring:message code="label_user_repwd" var="labelUserRepwd"/>
	<spring:message code="label_refresh_vcode" var="labelRefreshVCode"/>
	
	<spring:message code="label_agree" var="labelAgree"/>
		
	<spring:message code="label_next" var="labelNext"/>
	<spring:message code="label_save" var="labelSave"/>
	<spring:message code="label_reset" var="labelReset"/>

	<spring:eval
		expression="isNew ? labelCompanyNew:labelCompanyUpdate"
		var="formTitle" />

	<h1 style="text-align: center;">${formTitle}</h1>

	
	<style>
	.license-agreement
	{
    float: none;  
		display: block;  
		margin-left: auto;  
		margin-right: auto;  
	}
	
	</style>
	
	<div id="userUpdate" >
		<c:if test="${not empty message}">
			<div id="message" class="${message.type}">${message.message}</div>
		</c:if>

		<form:form id="company_reg_form1" modelAttribute="travs" method="post" enctype="multipart/form-data"> 
		<div id="progress" class="col-xs-12 col-md-12 license-agreement" style="width: 626px;" >
			<img alt="" src="/xlem/showImg?filename=company_register1.png" id="stepImg" align="absmiddle"></img>
		</div>
		<div id="license-agreement" class="col-xs-12 col-md-12 license-agreement" style="width: 600px; height: 200px; overflow:scroll;">
			<img alt="" src="/xlem/showImg?filename=license.png" mce_src="showImg" 
					 id="showImg" align="absmiddle"></img>
		</div>

		<div>
			<div id="agree" class="col-xs-12 col-md-12 license-agreement" style="width: 626px;" >
				<input id="agree_check" name="agree_check" type="checkbox" aria-label="..."></input>
   			<span style="font-size:12px" mce_style="font-size:12px">
     			${labelAgree}
    		</span>
			</div>
		</div>
		</form:form>

		<div style="text-align: center;">
  		<button class="next">
				<span class="ui-button-text">${labelNext}</span>
			</button>
		</div>
	</div>	
	

	

</div>