<div id="header" xmlns:jsp="http://java.sun.com/JSP/Page"
	xmlns:spring="http://www.springframework.org/tags"
	xmlns:sec="http://www.springframework.org/security/tags" version="2.0">
	<jsp:directive.page contentType="text/html;charset=UTF-8" />
	<jsp:output omit-xml-declaration="yes" />

	<spring:message code="register_header_text" var="registerHeaderText" />
	<spring:message code="label_logout" var="labelLogout" />
	<spring:message code="label_welcome" var="labelWelcome" />
	<spring:url var="logoutUrl" value="/j_spring_security_logout" />
	
    <spring:message code="label_user_personal_register" var="labelUserPersonalRegister"/>
	<spring:message code="label_user_company_register" var="lableUserCompanyRegister"/>
	
	<spring:url value="/register/person?form" var="personRegisterUrl"/>
	<spring:url value="/register/company/first?form" var="companyRegisterUrl"/>
	
	<h1>${registerHeaderText}</h1>
	
	<div id="regist-nav" class="row">
		<div class="col-xs-3">
		<ul class="nav nav-tabs">
  		<li role="presentation" class="active"><a href="${personRegisterUrl}">${labelUserPersonalRegister}</a></li>
  		<li role="presentation"><a href="${companyRegisterUrl}">${lableUserCompanyRegister}</a></li>
		</ul>
		</div>
	</div>
</div>
