<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<div xmlns:jsp="http://java.sun.com/JSP/Page"
	xmlns:c="http://java.sun.com/jsp/jstl/core"
	xmlns:spring="http://www.springframework.org/tags" version="2.0"
	xmlns:form="http://www.springframework.org/tags/form">
	<jsp:directive.page contentType="text/html;charset=UTF-8" />
	<jsp:output doctype-root-element="html"
		doctype-public="-//W3C//DTD XHTML 1.0 Transitional//EN"
		doctype-system="http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd"
		omit-xml-declaration="true" />

	<spring:message code="label_user_name" var="labelUserName" />
	<spring:message code="label_user_email" var="lableUserEmail" />
	<spring:message code="label_user_mobile" var="lableUserMobile" />

	<spring:message code="label_update" var="lableUpdate" />
	<spring:url value="/account/user_info{idUser}" var="userInfoUrl" />

	<c:if test="${not empty message}">
		<div id="message" class="${message.type}">${message.message}</div>
	</c:if>
	
	<div>
		<input type="hidden" id="total" value=""></input>
		<input type="hidden" id="offset" value=""></input>
	</div>
  
    <div id="indentDiv" style="overflow:auto">  
    </div>  	
</div>