<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<div xmlns:jsp="http://java.sun.com/JSP/Page"
	xmlns:c="http://java.sun.com/jsp/jstl/core"
	xmlns:spring="http://www.springframework.org/tags" version="2.0"
	xmlns:form="http://www.springframework.org/tags/form">
	<jsp:directive.page contentType="text/html;charset=UTF-8" />
	<jsp:output doctype-root-element="html"
		doctype-public="-//W3C//DTD XHTML 1.0 Transitional//EN"
		doctype-system="http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd"
		omit-xml-declaration="true" />

	<spring:message code="label_user_name" var="labelUserName" />
	<spring:message code="label_user_email" var="lableUserEmail" />
	<spring:message code="label_user_mobile" var="lableUserMobile" />

	<spring:message code="label_update" var="lableUpdate" />
	<spring:url value="/account/user_info{idUser}" var="userInfoUrl" />

	<c:if test="${not empty message}">
		<div id="message" class="${message.type}">${message.message}</div>
	</c:if>

	<div>
		<img src="/xlem/tsImgShow?id=${travservice.travelAgencyId}&amp;fname=${fname}&amp;scale=100" alt="..."></img>
	</div>
	<br></br>
	<div>
		<button id="tsImageReturn" class="ui-button ui-widget ui-state-default ui-corner-all ui-button-text-only">
			<span class="ui-button-text">返回</span>
		</button>
	</div>
</div>