<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<div xmlns:jsp="http://java.sun.com/JSP/Page"
	xmlns:c="http://java.sun.com/jsp/jstl/core"
	xmlns:spring="http://www.springframework.org/tags" version="2.0"
	xmlns:form="http://www.springframework.org/tags/form">
	<jsp:directive.page contentType="text/html;charset=UTF-8" />
	<jsp:output doctype-root-element="html"
		doctype-public="-//W3C//DTD XHTML 1.0 Transitional//EN"
		doctype-system="http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd"
		omit-xml-declaration="true" />

	<spring:message code="label_user_name" var="labelUserName" />
	<spring:message code="label_user_email" var="lableUserEmail" />
	<spring:message code="label_user_mobile" var="lableUserMobile" />

	<spring:message code="label_update" var="lableUpdate" />
	<spring:url value="/account/user_info{idUser}" var="userInfoUrl" />

	<c:if test="${not empty message}">
		<div id="message" class="${message.type}">${message.message}</div>
	</c:if>
	
	<h2>${reportTitle}</h2>

	<div id="reportDiv">
		<table id="financeReportTab">
			<tr>
				<th rowspan="2">序号</th>
				<th rowspan="2">来源</th>
				<th rowspan="2">项目</th>
				<th colspan="3">上期余额</th>
				<th colspan="3">本期交易支付</th>
				<th colspan="3">本期消费</th>
				<th colspan="3">本期余额</th>
			</tr>
			<tr>
				<th>雪山公司</th>
				<th>股份公司</th>
				<th>合计</th>
				<th>雪山公司</th>
				<th>股份公司</th>
				<th>合计</th>
				<th>雪山公司</th>
				<th>股份公司</th>
				<th>合计</th>
				<th>雪山公司</th>
				<th>股份公司</th>
				<th>合计</th>
			</tr>
			<c:forEach items="${financeReports}" var="report" varStatus="cur">
				<c:choose>
					<c:when test="${cur.index == 0}">
						<tr>
							<td rowspan="4">1</td>
							<td rowspan="4">${report.source}</td>
							<td>${report.item}</td>
							<td>${report.prevRemain}</td>
							<td></td>
							<td>${report.prevRemain}</td>
							<td>${report.curPay}</td>
							<td></td>
							<td>${report.curPay}</td>
							<td>${report.curConsume}</td>
							<td></td>
							<td>${report.curConsume}</td>
							<td>${report.curRemain}</td>
							<td></td>
							<td>${report.curRemain}</td>
						</tr>
					</c:when>
					<c:when test="${cur.index == 3}">
						<tr>
							<td rowspan="9">2</td>
							<td rowspan="9">${report.source}</td>
							<td>${report.item}</td>
							<td>${report.prevRemain}</td>
							<td></td>
							<td>${report.prevRemain}</td>
							<td>${report.curPay}</td>
							<td></td>
							<td>${report.curPay}</td>
							<td>${report.curConsume}</td>
							<td></td>
							<td>${report.curConsume}</td>
							<td>${report.curRemain}</td>
							<td></td>
							<td>${report.curRemain}</td>
						</tr>
					</c:when>
					<c:when test="${cur.index == 9}">
						<tr>
							<td rowspan="4">3</td>
							<td rowspan="4">${report.source}</td>
							<td>${report.item}</td>
							<td>${report.prevRemain}</td>
							<td></td>
							<td>${report.prevRemain}</td>
							<td>${report.curPay}</td>
							<td></td>
							<td>${report.curPay}</td>
							<td>${report.curConsume}</td>
							<td></td>
							<td>${report.curConsume}</td>
							<td>${report.curRemain}</td>
							<td></td>
							<td>${report.curRemain}</td>
						</tr>
					</c:when>						
					<c:when test="${cur.index == 12}">
						<tr>
							<td rowspan="13">4</td>
							<td rowspan="13">${report.source}</td>
							<td>${report.item}</td>
							<td>${report.prevRemain}</td>
							<td></td>
							<td>${report.prevRemain}</td>
							<td>${report.curPay}</td>
							<td></td>
							<td>${report.curPay}</td>
							<td>${report.curConsume}</td>
							<td></td>
							<td>${report.curConsume}</td>
							<td>${report.curRemain}</td>
							<td></td>
							<td>${report.curRemain}</td>
						</tr>
					</c:when>																		
					<c:when test="${cur.index == 2}">
						<tr>
							<td>${report.item}</td>
							<td>${report.prevRemain}</td>
							<td></td>
							<td>${report.prevRemain}</td>
							<td>${report.curPay}</td>
							<td></td>
							<td>${report.curPay}</td>
							<td>${report.curConsume}</td>
							<td></td>
							<td>${report.curConsume}</td>
							<td>${report.curRemain}</td>
							<td></td>
							<td>${report.curRemain}</td>
						</tr>
						<tr>
							<td>账户余额合计（C-A）</td>
							<td></td>
							<td></td>
							<td></td>
							<td></td>
							<td></td>
							<td></td>
							<td></td>
							<td></td>
							<td></td>
							<td></td>
							<td></td>
							<td></td>
						</tr>
					</c:when>
					<c:when test="${cur.index == 5}">
						<tr>
							<td>${report.item}</td>
							<td>${report.prevRemain}</td>
							<td></td>
							<td>${report.prevRemain}</td>
							<td>${report.curPay}</td>
							<td></td>
							<td>${report.curPay}</td>
							<td>${report.curConsume}</td>
							<td></td>
							<td>${report.curConsume}</td>
							<td>${report.curRemain}</td>
							<td></td>
							<td>${report.curRemain}</td>
						</tr>
						<tr>
							<td>支付宝账户小计</td>
							<td></td>
							<td></td>
							<td></td>
							<td></td>
							<td></td>
							<td></td>
							<td></td>
							<td></td>
							<td></td>
							<td></td>
							<td></td>
							<td></td>
						</tr>
					</c:when>
					<c:when test="${cur.index == 8}">
						<tr>
							<td>${report.item}</td>
							<td>${report.prevRemain}</td>
							<td></td>
							<td>${report.prevRemain}</td>
							<td>${report.curPay}</td>
							<td></td>
							<td>${report.curPay}</td>
							<td>${report.curConsume}</td>
							<td></td>
							<td>${report.curConsume}</td>
							<td>${report.curRemain}</td>
							<td></td>
							<td>${report.curRemain}</td>
						</tr>
						<tr>
							<td>财付通账户小计</td>
							<td></td>
							<td></td>
							<td></td>
							<td></td>
							<td></td>
							<td></td>
							<td></td>
							<td></td>
							<td></td>
							<td></td>
							<td></td>
							<td></td>
						</tr>
						<tr>
							<td>合计</td>
							<td></td>
							<td></td>
							<td></td>
							<td></td>
							<td></td>
							<td></td>
							<td></td>
							<td></td>
							<td></td>
							<td></td>
							<td></td>
							<td></td>
						</tr>
					</c:when>
					<c:when test="${cur.index == 11}">
						<tr>
							<td>${report.item}</td>
							<td>${report.prevRemain}</td>
							<td></td>
							<td>${report.prevRemain}</td>
							<td>${report.curPay}</td>
							<td></td>
							<td>${report.curPay}</td>
							<td>${report.curConsume}</td>
							<td></td>
							<td>${report.curConsume}</td>
							<td>${report.curRemain}</td>
							<td></td>
							<td>${report.curRemain}</td>
						</tr>
						<tr>
							<td>虚拟账户余额（C-A）</td>
							<td></td>
							<td></td>
							<td></td>
							<td></td>
							<td></td>
							<td></td>
							<td></td>
							<td></td>
							<td></td>
							<td></td>
							<td></td>
							<td></td>
						</tr>
					</c:when>
					<c:when test="${cur.index == 14}">
						<tr>
							<td>${report.item}</td>
							<td>${report.prevRemain}</td>
							<td></td>
							<td>${report.prevRemain}</td>
							<td>${report.curPay}</td>
							<td></td>
							<td>${report.curPay}</td>
							<td>${report.curConsume}</td>
							<td></td>
							<td>${report.curConsume}</td>
							<td>${report.curRemain}</td>
							<td></td>
							<td>${report.curRemain}</td>
						</tr>
						<tr>
							<td>小计</td>
							<td></td>
							<td></td>
							<td></td>
							<td></td>
							<td></td>
							<td></td>
							<td></td>
							<td></td>
							<td></td>
							<td></td>
							<td></td>
							<td></td>
						</tr>
					</c:when>	
					<c:when test="${cur.index == 14}">
						<tr>
							<td>${report.item}</td>
							<td>${report.prevRemain}</td>
							<td></td>
							<td>${report.prevRemain}</td>
							<td>${report.curPay}</td>
							<td></td>
							<td>${report.curPay}</td>
							<td>${report.curConsume}</td>
							<td></td>
							<td>${report.curConsume}</td>
							<td>${report.curRemain}</td>
							<td></td>
							<td>${report.curRemain}</td>
						</tr>
						<tr>
							<td>小计</td>
							<td></td>
							<td></td>
							<td></td>
							<td></td>
							<td></td>
							<td></td>
							<td></td>
							<td></td>
							<td></td>
							<td></td>
							<td></td>
							<td></td>
						</tr>
					</c:when>
					<c:when test="${cur.index == 17}">
						<tr>
							<td>${report.item}</td>
							<td>${report.prevRemain}</td>
							<td></td>
							<td>${report.prevRemain}</td>
							<td>${report.curPay}</td>
							<td></td>
							<td>${report.curPay}</td>
							<td>${report.curConsume}</td>
							<td></td>
							<td>${report.curConsume}</td>
							<td>${report.curRemain}</td>
							<td></td>
							<td>${report.curRemain}</td>
						</tr>
						<tr>
							<td>小计</td>
							<td></td>
							<td></td>
							<td></td>
							<td></td>
							<td></td>
							<td></td>
							<td></td>
							<td></td>
							<td></td>
							<td></td>
							<td></td>
							<td></td>
						</tr>
					</c:when>
					<c:when test="${cur.index == 20}">
						<tr>
							<td>${report.item}</td>
							<td>${report.prevRemain}</td>
							<td></td>
							<td>${report.prevRemain}</td>
							<td>${report.curPay}</td>
							<td></td>
							<td>${report.curPay}</td>
							<td>${report.curConsume}</td>
							<td></td>
							<td>${report.curConsume}</td>
							<td>${report.curRemain}</td>
							<td></td>
							<td>${report.curRemain}</td>
						</tr>
						<tr>
							<td>小计</td>
							<td></td>
							<td></td>
							<td></td>
							<td></td>
							<td></td>
							<td></td>
							<td></td>
							<td></td>
							<td></td>
							<td></td>
							<td></td>
							<td></td>
						</tr>
						<tr>
							<td>合计</td>
							<td></td>
							<td></td>
							<td></td>
							<td></td>
							<td></td>
							<td></td>
							<td></td>
							<td></td>
							<td></td>
							<td></td>
							<td></td>
							<td></td>
						</tr>
					</c:when>
					<c:otherwise>
						<tr>
							<td>${report.item}</td>
							<td>${report.prevRemain}</td>
							<td></td>
							<td>${report.prevRemain}</td>
							<td>${report.curPay}</td>
							<td></td>
							<td>${report.curPay}</td>
							<td>${report.curConsume}</td>
							<td></td>
							<td>${report.curConsume}</td>
							<td>${report.curRemain}</td>
							<td></td>
							<td>${report.curRemain}</td>
						</tr>						
					</c:otherwise>												
      			</c:choose>
      		</c:forEach>
      	</table>
      	<span>注：本期余额=上期余额+本期交易支付-本期消费</span>
	</div>
	
</div>