<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<div xmlns:jsp="http://java.sun.com/JSP/Page"
	xmlns:c="http://java.sun.com/jsp/jstl/core"
	xmlns:spring="http://www.springframework.org/tags" version="2.0"
	xmlns:form="http://www.springframework.org/tags/form">
	<jsp:directive.page contentType="text/html;charset=UTF-8" />
	<jsp:output doctype-root-element="html"
		doctype-public="-//W3C//DTD XHTML 1.0 Transitional//EN"
		doctype-system="http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd"
		omit-xml-declaration="true" />

	<spring:message code="label_user_name" var="labelUserName" />
	<spring:message code="label_user_email" var="lableUserEmail" />
	<spring:message code="label_user_mobile" var="lableUserMobile" />

	<spring:message code="label_update" var="lableUpdate" />
	<spring:url value="/account/user_info{idUser}" var="userInfoUrl" />

	<c:if test="${not empty message}">
		<div id="message" class="${message.type}">${message.message}</div>
	</c:if>
	
	<h2>电子账单合计（对外）</h2>

	<div id="sumOutBill">
		<table>
			<tr>
				<th>交易对方</th>
				<th>品类</th>
				<th>收入金额</th>
				<th>退款金额</th>
				<th>合计</th>
			</tr>
			<tr>
				<c:forEach items="${tsSummarys}" var="tsSummary">
					<tr>
						<td>旅行社</td>
	      				<td>${tsSummary.name}</td>
	      				<td>${tsSummary.inMoney}</td>
	      				<td>${tsSummary.outMoney}</td>
	      				<td>${tsSummary.total}</td>
	      			</tr>	
	      		</c:forEach>
	      	</tr>
			<tr>
				<c:forEach items="${tuSummarys}" var="tuSummary">
	      			<tr>
						<td>游客</td>
	      				<td>${tuSummary.name}</td>
	      				<td>${tuSummary.inMoney}</td>
	      				<td>${tuSummary.outMoney}</td>
	      				<td>${tuSummary.total}</td>
	      			</tr>	
	      		</c:forEach>
	      	</tr>
			<tr>
				<c:forEach items="${rechargeSummarys}" var="rechargeSummary">
	      			<tr>
						<td>旅行社</td>
	      				<td>${rechargeSummary.name}</td>
	      				<td>${rechargeSummary.inMoney}</td>
	      				<td>${rechargeSummary.outMoney}</td>
	      				<td>${rechargeSummary.total}</td>
	      			</tr>	
	      		</c:forEach>
	      	</tr>	      			
		</table>
	</div>
	
</div>