<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<jsp:root xmlns:jsp="http://java.sun.com/JSP/Page" version="2.0">
	<jsp:directive.page contentType="text/html; charset=UTF-8"
		pageEncoding="UTF-8" session="false" />
	<jsp:output doctype-root-element="html"
		doctype-public="-//W3C//DTD XHTML 1.0 Transitional//EN"
		doctype-system="http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd"
		omit-xml-declaration="true" />
	<html xmlns="http://www.w3.org/1999/xhtml"
		  xmlns:spring="http://www.springframework.org/tags"
		  xmlns:c="http://java.sun.com/jsp/jstl/core"
		  xmlns:form="http://www.springframework.org/tags/form">
		  
<head>
<title>西岭雪山</title>
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no"></meta>

<spring:url value="/login/manage" var="manageLoginUrl" />
<spring:url value="/register/person?form" var="registerUrl" />
<spring:url value="/login/guest" var="guestLoginUrl" />
<spring:url value="/login/depart" var="departLoginUrl" />
<spring:url value="/login/travservice" var="travserviceLoginUrl" />
<spring:url value="/login/myAccountLogin" var="myAccountLoginUrl" />

<!-- jQuery and Bootstrap -->
<spring:url value="/bootstrap/css/bootstrap.min.css" var="bootstrap_css_url" />
<spring:url value="/scripts/jquery-1.11.3.js" var="jquery_url" />
<spring:url value="/bootstrap/js/bootstrap.min.js" var="bootstrap_js_url" />
<link href="${bootstrap_css_url}" rel="stylesheet"></link>
<script src="${jquery_url}" type="text/javascript"><jsp:text/></script>
<script src="${bootstrap_js_url}" type="text/javascript"><jsp:text/></script>
</head>

<body>
	<script type="text/javascript" src="/xlem/scripts/home.js"><jsp:text/></script>
	<style>
		#tickets {
	    	background-repeat: repeat-x;    
		}
		
		#tickets .content { 
		    display:inline-block;
		    position:relative;		
    	}
    	
    	#tickets .content .image {
    		display:block;
    		margin:0 auto;
    	}
		
		#tickets .content .booking {
		    position:absolute;
		    bottom:5px;
		    left:25%;
		    background:blue;
		    color:#FFF;
		}

		#tickets .content .shopcart {
		    position:absolute;
		    bottom:5px;
		    right:25%;
		    background:blue;
		    color:#FFF;
		}
		
		#hotels {
	    	background-repeat: repeat-x;    
		}
		
		#hotels .content { 
		    display:inline-block;
		    position:relative;		
    	}
    	
    	#hotels .content .image {
    		display:table;
    		width: auto;
			margin-left: auto;
			margin-right: auto;
    	}
		
		#hotels .content .booking {
		    position:absolute;
		    bottom:5px;
		    left:25%;
		    background:blue;
		    color:#FFF;
		}

		#hotels .content .shopcart {
		    position:absolute;
		    bottom:5px;
		    right:25%;
		    background:blue;
		    color:#FFF;
		}
	</style>
	
	<nav class="navbar navbar-default" role="navigation">
		<div class="containter-fluid">
			<div class="collapse navbar-collapse" id="navbar-collapse-1">
			<ul class="nav navbar-nav navbar-right">
				<li><a href="${registerUrl}">注册</a></li>
				<li><a href="${guestLoginUrl}">个人用户登录</a></li>
				<li><a href="${travserviceLoginUrl}">商家登录</a></li>
				<li><a href="${departLoginUrl}">员工登录</a></li>
				<li><a href="${myAccountLoginUrl}">我的帐户</a></li>
				<li><a href="${manageLoginUrl}">管理登录</a></li>
			</ul>
			</div>	
			<div class="collapse navbar-collapse" id="navbar-collapse-1">
			<ul class="nav nav-pills nav-justified">
  				<li role="presentation" class="active"><a href="#">首页</a></li>
  				<!-- <li role="presentation"><a href="#">大美西岭</a></li>  -->
  				<!-- <li role="presentation"><a href="#">精彩活动</a></li>  -->
  				<!-- <li role="presentation"><a href="#">智慧景区</a></li>  -->
  				<li role="presentation"><a href="#">酒店预订</a></li>
  				<li role="presentation"><a href="/xlem/ticket/list">门票预订</a></li>
  				<li role="presentation"><a href="/xlem/ticket/suite_list">订套餐</a></li>
			</ul>	
			</div>
		</div>
	</nav>
	
	<div class="container" style="display:none;">
	<div class="row">
	  <div class="col-md-3">
	  	<h3>公告</h3>
	  	<div id="notice" class="row">
	  		<p>测试公告</p>
	  	</div>
	  </div>
	  <div class="col-md-9">
	  	<h3>四季展影</h3>
	    <a href="#" class="thumbnail">
	      <img alt="0" src="/xlem/showImg?filename=sjyz0.jpeg" id="sjyzImg" ></img>
	    </a>
	  </div>
	</div>
	</div>
	
	<div class="container" style="display:none;">
	<div class="row">
	  <div class="col-md-6">
	  	<h4>智慧景区</h4>
	  	<div class="row">
	  		<div><span>天气预报</span></div>
	  		<div class="row">
	  			<div class="col-md-4">
	  				<div class="row">
	  				<span id="today"></span>
	  				</div>
	  				<div class="row">
	  				<img alt="0" src="" id="todayIcon" ></img>
	  				</div>
	  				<div class="row">
	  				<span id="todayWeather_d"></span>
	  				</div>
	  				<div class="row">
	  				<span id="todayWeather_n"></span>
	  				</div>
	  				<div class="row">
	  				<span id="todayTemp"></span>
	  				</div>
	  				<div class="row">
	  				<span id="todayWind"></span>
	  				</div>
	  			</div>
	  			<div class="col-md-4">
	  				<div class="row">
	  				<span id="tomorrow"></span>
	  				</div>
	  				<div class="row">
	  				<img alt="0" src="" id="tomorrowIcon" ></img>
	  				</div>
	  				<div class="row">
	  				<span id="tomorrowWeather_d"></span>
	  				</div>
	  				<div class="row">
	  				<span id="tomorrowWeather_n"></span>
	  				</div>
	  				<div class="row">
	  				<span id="tomorrowTemp"></span>
	  				</div>
	  				<div class="row">
	  				<span id="tomorrowWind"></span>
	  				</div>
	  			</div>
	  			<div class="col-md-4">
	  				<div class="row">
	  				<span id="thirdday"></span>
	  				</div>
	  				<div class="row">
	  				<img alt="0" src="" id="thirddayIcon" ></img>
	  				</div>
	  				<div class="row">
	  				<span id="thirddayWeather_d"></span>
	  				</div>
	  				<div class="row">
	  				<span id="thirddayWeather_n"></span>
	  				</div>
	  				<div class="row">
	  				<span id="thirddayTemp"></span>
	  				</div>
	  				<div class="row">
	  				<span id="thirddayWind"></span>
	  				</div>
	  			</div>
	  		</div>
	  	</div>	
	  	<div class="row">
			<div class="col-md-6">
   				<a href="#" class="thumbnail">
     				<img src="/xlem/showImg?filename=realtime0.jpeg" alt="..."></img>
   				</a>
   				<span>景区大门</span>
			</div>
			<div class="col-md-6">
   				<a href="#" class="thumbnail">
     				<img src="/xlem/showImg?filename=realtime1.jpeg" alt="..."></img>
   				</a>
   				<span>滑雪场</span>
			</div>
	  	</div>
	  </div>
	  <div class="col-md-6">
	  	<div class="row">
			<img src="/xlem/transferImg?filename=airline.jpeg" alt="..."></img>
	  	</div>
	  </div>
	</div>
	</div>
	
	<div class="containter">
	<div class="row" id="tickets">
		<div class="col-md-4 content">
			<img class="image" id="ticketShow0" alt="图片未显示"></img>
			<a class="booking" id="ticketBooking0" href="#">现在预订</a>
			<a class="shopcart" id="ticketShopcart0" href="#">加入购物车</a>
		</div>
		<div class="col-md-4 content">
			<img class="image" id="ticketShow1" alt="图片未显示"></img>
			<a class="booking" id="ticketBooking1" href="#">现在预订</a>
			<a class="shopcart" id="ticketShopcart1" href="#">加入购物车</a>
		</div>
		<div class="col-md-4 content">
			<img class="image" id="ticketShow2" alt="图片未显示"></img>
			<a class="booking" id="ticketBooking2" href="#">现在预订</a>
			<a class="shopcart" id="ticketShopcart2" href="#">加入购物车</a>
		</div>
	</div>
	</div>
	
	<br></br>
	
	<div class="container-fluid">	
	<div class="row" id="hotels">
		<div class="col-md-3 content">
       		<img class="image" id="hotelShow0" alt="图片未显示"></img>
			<a class="booking" href="#">现在预订</a>
			<a class="shopcart" href="#">加入购物车</a>
       	</div>
		<div class="col-md-3 content">
       		<img class="image" id="hotelShow1" alt="图片未显示" ></img>
			<a class="booking" href="#">现在预订</a>
			<a class="shopcart" href="#">加入购物车</a>
       	</div>
		<div class="col-md-3 content">
       		<img class="image" id="hotelShow2" alt="图片未显示" ></img>
			<a class="booking" href="#">现在预订</a>
			<a class="shopcart" href="#">加入购物车</a>
       	</div>
		<div class="col-md-3 content">
       		<img class="image" id="hotelShow3" alt="图片未显示" ></img>
			<a class="booking" href="#">现在预订</a>
			<a class="shopcart" href="#">加入购物车</a>
       	</div>
	</div>	
	</div>
	
	<br></br>
	
	<div class="container">
	<div class="row" id="tickets">
	  <div class="col-md-4 content">
	  	<img id="suiteShow0" class="suiteShow0" alt="..."></img>
		<a id="suiteBooking0" class="booking" href="#">现在预订</a>
		<a id="suiteShopCart0" class="shopcart" href="#">加入购物车</a>
	  </div>
	  <div class="col-md-4 content">
	  	<img id="suiteShow1" class="suiteShow1" alt="..."></img>
		<a id="suiteBooking1" class="booking" href="#">现在预订</a>
		<a id="suiteShopCart1" class="shopcart" href="#">加入购物车</a>
	  </div>
	  <div class="col-md-4 content">
	  	<img id="suiteShow2" class="suiteShow2" alt="..."></img>
		<a id="suiteBooking2" class="booking" href="#">现在预订</a>
		<a id="suiteShopCart2" class="shopcart" href="#">加入购物车</a>
	  </div>
	</div>
	</div>
		
	<div class="panel panel-default">
	  <div class="panel-body">
	      	优惠活动
	  </div>
	</div>
</body>
</html>
</jsp:root>